/* GameScreen.css */
#game-screen {
  background-image: url("../img/backgroundGameArea.png");
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 105vh;
  max-width: 100vw;
}

.location {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  object-fit: contain;
}

/* Mountain selalu di kiri atas */
.mountain {
  top: 190px;
  left: 0;
  width: 300px; /* Tambahkan ukuran seperti Home/Temple */
  margin: 0;
  padding: 0;
  height: 220px; /* Sesuaikan tinggi */
  transform: translateX(-10px);
}

/* City selalu di kanan atas */
.city {
  top: 175px;
  right: 0;
  margin: 0;
  padding: 0;
  width: 300px; /* Tambahkan ukuran */
  height: 220px;
  transform: translateX(10px);
}

/* Beach ukuran tetap, selalu di bawah tengah */
.beach {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 1920px;
  height: 260px;
}

.game-wrapper {
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
